body{
    margin: 9em;
    background-color: #bdbaba;
    font-family: 'Fraunces', serif;
    color: #000;
}

h1{
    text-align: center;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
}

form{
    display:grid;
    grid-template-columns: repeat(3, 6.6em);
    grid-template-rows: 8em repeat(8, 3.6em);
    background-color: #62656b;
    color:#000;
    padding: 1em;
    border-radius: 0.3em;
}

input[type="button"] {
    cursor: pointer;
    background-color: 	#c2c7d1;
    color: #000;
    margin: 0.4em;
    border: none;
    border-radius: 0.3em;
}

input[type="submit"]{
    height: 0;
    border: none;
    background-color: #62656b;
    color:#000;
}

p[id="display"]{
    grid-column: 1 /-1;
    padding: 0.4em;
    display: flex;
    margin: 0.3em 0.5em 0.3em;
    flex-direction: column;
    text-align: right;
    font-size: 1.5em;
    overflow-y: auto;
    border-style: solid;
    border-color: #000;
    border-radius: 0.2em;
    background-color: #dadfe6;
    color: #000;
}

p[id="actual"]{
    padding:0.1em;
    grid-column: 1 /-1;
    display: flex;
    margin: 0em 0.5em 0.5em;
    font-size: 1.5em;
    border-style: solid;
    border-color: #000;
    border-radius: 0.2em;
    background-color: #dadfe6;
    color: #000;
}

input[type="button"]:active {
    background-color: #505353;
    color: #000;
}

input[type="button"]:focus {
    outline: none;
}