h1{
    text-align: center;
}

#mapa {
  width: 80%;
  height: 50vw;
  margin: auto;
}

p{
    text-align: center;
}

form {
  color: #000;
  padding: 1em;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type="button"] {
  background-color: #061433;
  color: white;
  border-radius: 0.8em;
  cursor: pointer;
  padding: 0.5em 1em;
}

input[type="submit"] {
  background-color: white;
  color: black;
  height: 0;
  border: none;
}

label {
  font-weight: bold;
  margin: 0.2em;
}

input[type="text"] {
  border-radius: 0.8em;
  border-color: #000;
  padding: 0.5em 1em;
}
